@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@400;700&display=swap');

body {
    background: white;
    font-family: 'Ubuntu Mono', monospace;
    color: #000000;
    margin: 0;
    padding:  0;
    font-size: 23px;
}

.about-section{
    margin: 0 60px;
}

.heading-cus{
    font-size: 35px;
    padding: 15px 0;
    padding-top: 30px;
}

.header-cus .logo-heading{
    font-size: 45px;
}

.container-fluid{
    padding: 0;
    margin: 0;
}

.header-cus h1{
  padding-top: 70px;
  width: 100%;
  padding-left: 28px;
  padding-bottom: 5px;
  background-color: black;
  text-align: left;
  font-size: 30px;
}

h1 {
    color: white;
    font-size: 60pt;
    font-family: 'Ubuntu Mono', monospace;      
}

img {
    max-width: 60%;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

span{
    color: blueviolet;
}

a{
  text-decoration:  none;
  color: lightblue;
}

a:hover{
    color: lightblue;
}

@media(max-width: 520px){
    .header-cus h1{
        font-size: 23px;
    }
    .logo-heading a{
        font-size: 40px;
    }
    body{
        font-size: 18px;
    }
    .heading-cus{
        font-size: 28px;
    }
    .about-section{
        margin: 0 15px;
        font-size: 18px;
}
}
